body{
  text-align: center;
  font-family: 'Merriweather', serif;

  background-color: #FFDEB4;
  margin: 0,
}

h1{
color: #7289DA;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
margin-bottom: 2px;

}

h2{
  font-family: 'Montserrat', sans-serif;
  /*******************-webkit-text-stroke:1px white;*******************/
 color:#FEB139;
}

h3{
  color: #7289da;
}
hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 4%;
margin: 100px auto;
}

p{
color:  #7A86B6;
line-height: 2;
text-align:center;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.world{
  border-radius: 75%;
  display:inline-block;
}

.whale{
  border-radius: 500%;
  background-color:#7289DA;
  width: 25%;
  float: left;
  margin-left: 50px;
}
.turtle{
  border-radius: 500%;
  background-color:#7289DA;
  width: 25%;
  float: right;
  margin-right: 50px;
}
.deer{
  border-radius: 500%;
  background-color:#7289DA;
  width: 25%;
  float: left;
  margin-left: 50px;
}

.polar-bear{
  border-radius: 500%;
  background-color:#7289DA;
  width: 25%;
  float: right;
  margin-right: 50px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
 margin-top: 100px;
 background-color: #66BFBF;
 padding: 50px 0 20px; 
}
.contact-msg{
line-space:2px;
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
color: #EAF6F6;
font-size: 0.75rem;
padding: 20px 0;

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
